#grid_container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
    ". header_area ."
    ". main_area .";
}
header {
    grid-area: header_area;
}
main {
    grid-area: main_area;
}

body {
    background-color: #FAFAFA;
}

form {
    background-color: white;
    border: 2px solid #CCCCCC;
    padding: 36px;
}

input[type=submit] {
    background: linear-gradient(to bottom, lightgreen, teal);
    border: 0px;
    border-radius: 8px;
    padding: 12px 48px;
    cursor: pointer;
}
input[type=submit]:hover {
    opacity: 0.9;
}
input[type=submit]:active {
    background: linear-gradient(to top, lightgreen, teal);
}

.text_input label {
    display: block;
}

.text_input input {
    margin: 4px 0px 16px;
    padding: 12px;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    width: 300px;
}

#first_name_id {
    border: 5px solid lightblue;
    border-radius: 24px;
    color: black;
}

#first_name_id:focus-visible {
    outline: 0;
    background-color: rgb(197, 238, 254);
}

#first_name_id:invalid {
    background-color: lightgoldenrodyellow;
    border-bottom: 4px solid lightblue;
}

input[type=email]:invalid {
    background-color: lightcoral;
    border-bottom: 4px solid red;
}

#last_name_id {
    border: 5px solid lightblue;
    border-radius: 24px;
    color: black;
}

#last_name_id:focus-visible {
    outline: 0;
    background-color: lightgoldenrodyellow;
    color: black;
}

#email_id {
    border: 5px solid lightblue;
    border-radius: 24px;
    color: black;
}

#email_id:focus-visible {
    outline: 0;
    background-color: lightgoldenrodyellow;
    color: black;
}

#password_id {
    border: 5px solid lightblue;
    border-radius: 24px;
    color: black;
}

#password_id:focus-visible {
    outline: 0;
    background-color: lightgoldenrodyellow;
    color: black;
}

.div {
    margin-bottom: 24px;
    width: 100%;
}

#help_id {
    margin-bottom: 24px;
    width: 100%;
}
     
input[type=button] {
    border: 3px solid black;
    border-radius: 6px;
    padding: 12px;
    margin-right: 12px;
    cursor: pointer;
}
input[type=button]:hover {
    background-color: darkgrey;
    color: white;
}

input[type=submit] {
    background: linear-gradient(to bottom, skyblue, teal);
    border: 0px;
    border-radius: 8px;
    padding: 12px 48px;
    cursor: pointer;
    color: white;
}

input[type=reset] {
    border: 1px solid black;
    border-radius: 6px;
    padding: 12px;
    margin-right: 12px;
    background: linear-gradient(to bottom,  skyblue, teal);
    color: white;
    cursor: pointer;
}

input[type=reset]:active {
    background: linear-gradient(to top,  skyblue, teal);
}

input:not(:focus):not(::placeholder-shown):invalid {
    background-color: lightcoral;
    border: 2px solid red;
}