table {
    border-collapse: collapse
}

th, td {
    padding: 12px;
}
th {
    color: white
}
tr {
    border-bottom: 1px solid gray;
}

thead tr {
    background-color: lightseagreen;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}