.bold {
    font-weight: bold;
}

.wiki_image {
    width: 250px;
    border: 5px solid lightcoral;
    background-color: lightyellow;
    padding: 4px;
    margin: 12px;
}

.wiki_image img {
    width: 100%;
}

.right {
    float: right;
}

.left {
    float: left;
}
.clear {
    clear: both;
}

header {
    background-color: lightcoral;
    padding: 36px;
}

footer {
    background-color: lightcoral;
    padding: 30px;
}

